body{
    background: #D8DFE8;
    font-family: 'Inter';
}


*{    
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin: 15px auto;
    width: 8%;
}

main{    
    display: flex;
    margin: 0 0 20px 80px;
    justify-content: center;
}

.cajaentrada{
    resize: none;
    margin-top: 90px;
    color: darkblue;
    border: none;
    cursor: pointer;
}

.cajaentrada::placeholder{
    color: darkblue;
}

.cajaentrada:focus{
    outline:  none;
}

.alerta{
    display: flex;
    color: grey;
    font-size: 16px;    
}

.botones{
    display: flex;
    margin-top: 18px;
}

.encriptar{
    color: #D8DFE8;
    background: #0A3871;
    border: 1px solid darkblue;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.desencriptar{
    color: darkblue;
    background: #D8DFE8;
    border: 1px solid darkblue;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.cajasalida{
    resize: none;
    margin-left: 98px;
    padding: 20px;
    padding-bottom: 120px;
    height: 612px;
    color: #0A3871;
    background: white;
    background-image: url(imagenes/imagen.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.cajasalida:focus{
    outline: none;
}

.funciones{
    background: transparent;
    margin-left: 120px;
    margin-top: -240px;
    width: 360px;
    position: absolute;
    text-align: center;
}

.notexto{
    font-size: 24px;
    font-weight: bold;
    line-height: initial;
    background: transparent;
}

.indicacion{
    font-size: 16px;
    line-height: initial;
    background: transparent;
}

.copiar{
    color: darkblue;
    background: #D8DFE8;
    border: 1px solid darkblue;
    border-radius: 25px;
    cursor: pointer;
    height: 67px;
    width: 336px;
    margin-top: 120px;
}

.encriptar:hover, .desencriptar:hover, .copiar:hover{
    background: #555;
    color: white;
}

.notifica{
    display: none;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 80px;
    left: 100px;
    margin-left: -75px;
    opacity: .6;
}

footer{
    text-align: center;
    background-color: darkblue;
    padding: 20px;
}

.copyright{
    color: #D8DFE8;
    font-size: 13px;
    margin: 20px;
}

